.contact_blank {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 20px;
}

.item a {
    color: #0a73bb;
}

.item a:hover {
    text-decoration: underline !important;
}

.inner div, .inner h1, .inner h2, .inner h3, .inner h4, .inner h5, .inner h6 {
    color: black;
}

.color_white {
    color: white !important;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 16px;
}

html {
    font-family: Arial !important;
}

#page-wrapper {
    background-color: white;
}

div#menu {
    overflow: hidden;
    border-left: 1px solid rgba(0, 0, 0, 0.49);
    background-color: rgba(255, 251, 251, 0.85);
}

#footer {
    background-color: rgba(5, 5, 5, 0.54) !important;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.loginForm {
    display: none;
    color: #000000 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.8) !important;
}

.control-label {
    color: black;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 14px;
}

.header {
    background-color: white !important;
}

#header {
    background-color: rgba(5, 5, 5, 0.4) !important;
}

section#banner {
    position: relative;
    width: 100%;
    margin-top: -60px;
    background: url("../image/its_me.JPG") center center no-repeat;
    background-size: 100%;
}

section#banner:before {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    margin-right: 100%;
    background-color: black;
    content: '';
    position: absolute;
    opacity: 0.4;
}

.help-block {
    font-size: 14px;
    line-height: 1;
}

div.inner {
    min-height: 65vh;
    z-index: 1000;
}

.loginForm.active {
    display: block;
    color: black !important;
}

.butLogin {
    background-color: #337ab7;
    width: 100px;
    text-align: center;
    padding: 0 !important;
}

.vk-icon {
    margin: auto;
    width: 42px !important;
    height: 42px !important;
    /*background-color: black !important;*/
    background: url("../image/Mezhdunarodny.png") center center no-repeat;
    background-size: 42px;
}

.icon {
    margin: auto;
    width: 42px !important;
    height: 42px !important;

}

.icon.vk {
    background: url("../image/vkontakte.png") center center no-repeat;
    background-size: 42px;
}

.icon.facebook {
    background: url("../image/facebook.png") center center no-repeat;
    background-size: 42px;
}

.icon.google {
    background: url("../image/google.png") center center no-repeat;
    background-size: 42px;
}

.icon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-login {
    width: 100%;
    height: 320px;
}

hr {
    margin: auto;
}

p {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 18px;
}

span {
    font-size: 18px;
}

.icons-login {
    text-align: left;
    margin-top: 10px;
}

.row div {

}

.form-input {
    padding-left: 15px;
}

.form {
    text-align: left;
}

.help-block {
    font-size: 14px;
}

label {
    margin: 0px;
}

input:focus {
    box-shadow: 0 0 20px gainsboro !important;
}

.item-button {
    margin-right: 15px;
}

.button, .button .control-label:hover {
    cursor: pointer !important;
}

.items-card {
    margin-left: 40px;
    margin-right: 40px;
}

div.button label {
    font-weight: 600;
}

div.button input {
    all: unset;
}

.description-text {
    margin: 0px;
}

.title-text {
    margin: 0px;
}

.mini-menu-update .control-label {
    margin: 0px;
}

.mini-menu-update div.button {
    padding: 0px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

.mini-menu-update div.button:hover {
    transition: 1s;
    background-color: darkgrey !important;
}

.mini-menu-update {
    display: none;
    position: absolute;
    float: left;
    width: 200px;
    line-height: 30px;
    padding: 0px;
    background-color: white;
    font-size: 16px;
    z-index: 100;
}

.mini-menu-update.active {
    display: block !important;
    margin-top: 210px;
    background: unset;
}

.mini-menu-update.post.active {
    margin-top: 0px;
}

.picture-button {
    max-width: 100%;
    max-height: 100%;
    min-width: 200px;
    min-height: 200px;
    padding: 0px;
}

.picture-button:hover {
    border: 1px solid black;
}

.picture-button .photo {
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: auto;
}

.card-item {
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 30px;
    padding-right: 15px;
}


div.update {

}

@media (max-width: 570px) {
    .row.card-photo {
        margin-right: 0px !important;
    }

    .place-button {
        margin: auto;
        padding-top: 20px;
    }

    .mini-menu-update {
        left: auto;
        position: relative;
    }
}

form {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.photo-form {
    margin-bottom: 20px;
}

.container-menu {
    max-width: 1400px;
    margin: auto;
    height: 60px;
    margin-bottom: 60px;
    display: block;
}

.admin_menu {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 0;
    height: 50px;
    margin: auto;
    max-width: 1400px;
    justify-content: space-between;
}

.admin_menu .item_menu {
    flex: 2;
    border: 1px solid darkgrey;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    line-height: 50px;
    background: rgba(83, 83, 83, 0.62) linear-gradient(rgb(114, 120, 125), rgba(83, 83, 83, 0.62));
    color: white;
    list-style-type: none;
}

.admin_menu .item_menu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: underline;
}

@media (max-width: 570px) {
    .admin_menu {
        height: auto;
        flex-direction: column;
    }

    .container-menu {
        height: auto;
        margin: auto;
        text-align: center;
    }

    .container-menu ul {
        padding: 0px;
        padding-bottom: 20px;
    }

    ul a {
        margin: 2px;
    }

    #page-wrapper {
        padding-top: 20px;
    }

    .items-card {
        margin: auto;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

body, input, select, textarea {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.account_manager {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.photo-form {
    text-align: left;
}

.file-input {
    background-color: white !important;
}

.form-input {
    padding-left: 15px;
}

.form {
    text-align: left;
}

input {
    border: 1px solid darkgray !important;
    width: 50% !important;
}

.help-block {
    font-size: 14px;
}

label {
    margin: 0px;
}

input:focus {
    box-shadow: 0 0 20px gainsboro !important;
}

.login_input {
    width: 100% !important;
    text-align: left;
}

input {
    text-align: left;
}

.portfolio {
    text-align: left;
}

.table_account_header {
    font-weight: bold;
    background-color: #95999c !important;
    color: white;
}

div.image_flex {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.table_account_header td:after {
    display: none;
    content: '';
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 100;
    position: absolute;
    background: url("/image/svg/arrow-black.svg") center center no-repeat;
    background-size: 10px;
}

.table_account_header td.desc:after {
    display: inline;
    transform: rotate(180deg);
}

.table_account_header td.number:after {
    background: none;
}

.table_account_header td.asc:after {
    display: inline;
    transform: rotate(0deg);
}

.search_form {
    margin-bottom: 20px !important;
}

.search_form input {
    color: black;
}

.acc_profile {
    text-align: left;
}

.acc_profile .form-group {
    color: black;
    max-height: 30px;
    width: 70% !important;
}

.acc_profile label {
    display: none;
}

.description_item {
    font-weight: normal !important;
    font-size: 16px;
    text-align: center;
}

.item {
    display: flex;
    line-height: 30px;
    margin-left: 20px;
}

button.account-form {
    max-height: 30px;
    margin-left: 10px;
    line-height: 20px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-group input {
    width: 100% !important;
}

body, input, select, textarea {
    letter-spacing: unset;
}

.avatar_img.small {
    width: 30px;
    height: 30px;
    border-radius: 90%;
    background-position: center;
    margin-bottom: -7px;
    background-size: 30px !important;
}

.btn_admin {
    width: 100% !important;
    margin: auto;
    margin-top: 10px;
}

.btn_account {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.training_box {
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 25px;
    border: 1px solid darkgray;
    border-radius: 30px;
    text-align: center;
}

.training_box:hover {
    box-shadow: 0 0 20px gainsboro;
    transform: scale(1.02);
}

.account_img {
    max-height: 300px;
    border-radius: 10px;
}

.btn_account {
    line-height: 43.5px;
}

.item.column {
    flex-direction: column;
}

.form_file .form-group {
    width: 100% !important;
}

.account_img_preview {
    background-size: 200px !important;
    width: 200px;
    height: 200px;
    border-radius: 90%;
}

.items > div {
    margin-top: 20px;
}

#account_button {
    display: none;
}

#account_button.active {
    display: block;
}

/*portfolio*/

div.image_flex > .portfolio_item {
    max-width: 400px;
    margin: 10px 12px;
    max-height: 250px;
    overflow: hidden;
}


div.image_flex img.portfolio_img {
    max-width: 400px;
    max-height: 250px;
}

img.portfolio_img:hover {
    transition: 1s;
    transform: scale(1.2);
}

.portfolio_img_title {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 100;
    margin-left: -400px;
    margin-top: -60px;
}

.portfolio_item:hover > .portfolio_img_title {
    transition: 0.5s;
    overflow: hidden;
    color: white;
    margin-left: 0;
}

.portfolio_item:hover > .portfolio_img_title div {
    transition: .5s;
    color: white;
    line-height: 25px;
}

/*portfolio end*/

#account_button {
    display: none;
}

#account_button.active {
    display: block;
}

.album_img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.item {
    margin-top: 20px;
}

.albums {
    font-size: 14px !important;
    text-align: center;
}

.border-1 {
    padding: 10px;
    border-radius: 5px;
}

.border-1:hover {
    transition: .3s;
    border: 1px solid darkgray;
}

.left {
    text-align: left;
}

section {
    margin-top: 40px;
}

.option {
    width: 30%;
}

.hidden {
    display: none;
}

.hidden.active {
    display: block !important;
}

.shadow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow-active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.shadow-active:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.radius {
    border-radius: 10px;
}

.scale:hover {
    transform: scale(1.1) !important;
}

textarea {
    overflow: visible !important;
}

button {
    border: 1px solid black !important;
    color: black !important;
}

button:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

button.option {
    display: flex;
}

i.option {
    margin-left: 20px;
    margin-right: -30px;
    position: relative;
    width: 40px;
    height: 40px;
    background: url("/image/option.png") center no-repeat;
    background-size: 20px;
}

.container {
    width: 1400px;
}